<header class="header">
    <a href="/">
        <h1>
            <span class="title"><%= sitename %></span><br/>
            <span class="subtitle"><%= sitetagline %></span>
        </h1>
    </a>
    <!-- TEMPORARY -->
    <img src="/files/logo.svg" alt="Logo" />
</header>
