<div class="navigation">
    <h1>NAVIGATION</h1>
    <div class="linklist">
        <div class="header">
            <h4>Links</h4>
        </div>
        <div class="content">
            <p>Pages</p>

            <%- pagesMenu -%>

            <p>Wiki</p>

            <%- wikiMenu -%>

        </div>
    </div>
    <br/>
    <img class="bn" src="/files/img/gif/anythingbut.gif" alt="Google Chrome logo barred in red with written 'anything but chrome'">
    <img class="bn" src="/files/img/gif/synth-uprising.gif" alt="Picture of Jae the Synth with a text saying 'Synth Uprising'">
    <img class="bn" src="/files/img/gif/bestviewed16bit.gif" alt="Best viewed 1024x768 16Bits color">
    <img class="bn" src="/files/img/gif/bunbrowser.gif" alt="Picture of a bunny with written 'bunny browser'">
    <br/>
    <p>CC-BY SA 4.0 Jae Lo Presti 🅯🄎; Robot on the internet since 2012; Powered by <a href="https://sr.ht/~jae/Overengine/">Overengine 🐾</a> by <a href="https://j4.lc">J4</a>.</p>
    <hr>
    <small id="dotsies">Dotsies?</small>
    <script type="text/javascript">
        var element = document.getElementById("body");
        function changeStyle() {
            if (element.style.fontFamily != "dotsies")
            {
                element.style.fontFamily = "dotsies";
                localStorage.setItem("curfont", "dotsies");
            }
            else
            {
                element.style.fontFamily = "pixel";
                localStorage.setItem("curfont", "pixel");
            }
        }
        element.style.fontFamily = localStorage.getItem("curfont"); 
        document.getElementById("dotsies").addEventListener("click", changeStyle);
    </script>
</div>
